.class1{
	color: blueviolet;
	
	
	
	
}
p{
	color:darkgreen;
}
.class1 p{
	color:yellow lightcoral;
}
.class1 #pfirst{
color: greenyellow;
}
 h1{
	
	border-style: solid dotted dashed ridge;
	border-width: 5px 10px 15px 20px;/* top leftrigt bottom*/
	border-color: red green yellow blue;
}

.class1{
	background:#fff url(image/venice.jpg); background-repeat:space;
    background-position: center;
    background-attachment: fixed;
}
h2{
	
	
	border-style: none none dashed;
border-width:  5px;
	border-radius: 6px;
	border-color: aqua;
}
.class2{
	height:500px;
		width:500px;
	border: 5px dotted green;
}